@import url("https://fonts.googleapis.com/css2?family=Playwrite+US+Trad+Guides&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}
body {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
.header {
  width: 100%;
  border-bottom: 1px solid #e2dfdf;
}
.container {
  max-width: 1240px;
  width: 100%;
  height: auto;
  padding: 20px 0px;
  margin: 0 auto;
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav__links {
  display: flex;
  align-items: center;
  gap: 20px;
}
.nav__link a {
  color: #d4af37;
  font-size: 22px;
}
.login {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  cursor: pointer;
}
.sign__in {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.sign__up {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  border-radius: 20px;
  width: 100px;
  background-color: #d4af37;
}
