@import url("https://fonts.googleapis.com/css2?family=Playwrite+US+Trad+Guides&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}
body {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}
.header {
  border-bottom: 1px solid #e2dfdf;
}
.container {
  max-width: 1240px;
  width: 100%;
  height: auto;
  margin: 0 auto;
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.header__logo img {
  width: 130px;
  height: 100px;
  background-position: center;
  background-size: cover;
}
.header__logo span {
  font-size: 22px;
  font-weight: 700;
  color: #000;
}
.nav__links {
  display: flex;
  align-items: center;
  gap: 20px;
}
.nav__link a {
  color: #000;
  font-size: 22px;
}
.nav__link a:active {
  color: #d4af37;
}
.login {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  cursor: pointer;
}
.sign__in {
  font-size: 18px;
  font-weight: 400;
  color: #000;
  padding: 16px 16px;
  border-radius: 30px;
}

.sign__up {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 400;
  color: #000;
  font-size: 18px;
  font-weight: 400;
  gap: 10px;
  padding: 16px 16px;
  border-radius: 30px;
  width: 70px;
  background-color: #d4af37;
}
