@import url("https://fonts.googleapis.com/css2?family=Playwrite+US+Trad+Guides&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+US+Trad+Guides&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}
body {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}
.header {
  border-bottom: 1px solid #e2dfdf;
}
.container {
  max-width: 1240px;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 10px 0px;
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.header__logo img {
  width: 80px;
  height: 80px;
  background-position: center;
  background-size: cover;
}
.header__logo span {
  font-size: 22px;
  font-weight: 700;
  color: #000;
}
.nav__links {
  display: flex;
  align-items: center;
  gap: 20px;
}
.nav__link a {
  color: #000;
  font-size: 20px;
}
.nav__link a:active {
  color: #d4af37;
}
.login {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  cursor: pointer;
}
.sign__in {
  font-size: 16px;
  font-weight: 400;
  color: #000;
  padding: 16px 16px;
  border-radius: 30px;
}
.sign__up {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 100;
  line-height: normal;
  color: #000;
  gap: 10px;
  padding: 16px 16px;
  border-radius: 30px;
  background-color: #d4af37;
}
.main {
  border: 1px solid #000;
}
.hero {
  border: 1px solid #000;
  padding: 100px 0px;
}
.hero__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
.hero__title {
  font-size: 74px;
  font-family: "Inter" sans-serif;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: -1px;
  color: #0f0f0f;
  max-width: 850px;
  text-align: center;
}
.hero__title span {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
}
.hero__description {
  font-size: 24px;
  font-family: "Inter" sans-serif;
  font-weight: 100;
  line-height: 1.6;
  letter-spacing: -1px;
  color: #353535;
  max-width: 700px;
  text-align: center;
}
.hero__link {
  color: #f0f0f0;
  font-size: 20px;
  border-radius: 25px;
  padding: 26px 24px;
  background: linear-gradient(90deg, #d4af37, #0f0f0f);
}
